@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Regular'), local('Hind-Regular'), url(https://fonts.gstatic.com/s/hind/v8/5aU69_a8oxmIdGl4BDGwgDI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 600;
  src: local('Hind SemiBold'), local('Hind-SemiBold'), url(https://fonts.gstatic.com/s/hind/v8/5aU19_a8oxmIfLZcERySjRhc9V0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  src: local('Hind Bold'), local('Hind-Bold'), url(https://fonts.gstatic.com/s/hind/v8/5aU19_a8oxmIfNJdERySjRhc9V0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Universal Styles */

html {
  font-family: "Hind", "Arial", sans-serif;
  font-size: 16px;
}

body {
  line-height: 1.4;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #383838;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #383838;
}

h5 {
  font-size: 1rem;
  color: #5D5D5D;
}

h6 {
  font-size: 0.7rem;
  color:#383838;
}

/* Header */

header {
  display: inline-flex;
  position: fixed;
  z-index: 1;
  width: 96%;
  background-color: white;
  padding: 0 1.5rem;
  align-items: center;
  height: 4rem;
  justify-content: space-between;
}

header span {
  font-size: 2rem;
  text-transform: uppercase;
}

span strong {
  font-weight: bold;
}

nav ul li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }
  .mobile {
    display:flex;
    width: 100%;
  }
  .mobile ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}

/* Learn Something new Everyday */

.something {
  background-color: #C4C4C4;
  display: inline-flex;
  margin-top: 4rem;
}

.picture {
  width: 60%;
  margin: 2rem 1.5rem;
  float: left;
}

.picture img {
  width: 100%;
  height: auto;
  display: block;
}

.text {
  display: inline-flex;
  justify-content: center;
  flex-flow: column;
  width: 24%;
}

.start {
  background-color: #383838;
  color: white;
  padding: 0.5rem;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  header {
    width: 89%;
  }

  .something {
    flex-flow: column;
    align-items: center;
  }
  .picture {
    width: 100%;
    margin-top: 0;
  }
  .text {
    margin: 2rem 1rem;
    width: auto;
  }
  .text h3 {
    margin-top: 2rem;
  }
  .start {
    background-color: #696969;
    width: auto;
    margin-top: 1.5rem;
    border-radius: 0.5rem;
  }
}

/* It doesn't hurt to keep practicing! */

.flex-wrap {
  display: flex;
}

.hurt-picture {
  margin: 2rem 1.5rem;
}

.hurt-picture h2 {
  margin: 2rem 0 1.5rem 0;
}

.hurt-picture h6 {
  margin-top: 5rem;
}

.practice {
  border-right: 1px solid #C4C4C4;
  flex: 3;
}

.three-boxes {
  flex: 2;
  margin: 2rem 0;
}

.first-box {
  display: flex;
  border-bottom: 3px solid #C4C4C4;
}

.first-box img {
  margin: 0 1rem 1rem 1rem;
}

.second-box img {
  margin: 1rem 1rem;
}

.third-box img{
  margin: 1rem 1rem 1rem 1rem;
}

.second-box {
  display: flex;
}

.third-box {
  display: flex;
  background-color: #C4C4C4;
}

.three-boxes div {
  clear: both;
  align-self: center;
}

.three-boxes a {
  color: #4BABD7;
}

.three-boxes h5 {
  margin: 0.5rem 0;
}

.three-boxes img {
  float: left;
  height: auto;
  width: 35%;
  align-self: center;
}

.hurt-picture img{
  width: 100%;
}

.mobile {
  display: none;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .practice {
    display: none;
  }
  .desktop {
    display: none;
  }
  .first-box {
    flex-direction: column;
    border: none;
  }
  .second-box {
    flex-direction: column;
    margin: 4rem 0;
  }
  .third-box {
    flex-direction: column;
    background-color: white;
  }
  .mobile {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .flex-wrap {
    border-bottom: 1px solid #C4C4C4;
  }
  .three-boxes img {
    width: 100%;
    margin: 0;
  }
  .three-boxes div {
    align-self: flex-start;
  }
  .three-boxes {
    margin: 1rem 1rem 2rem 1rem;
  }
  .orientation,
  .campus,
  .lecture {
    align-items: center;
    margin: 1rem 0 0 1rem;
  }
}

/* Start Learning */

.learning {
  background-color: #C4C4C4;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  padding: 2rem 3.5rem 1rem 3.5rem;
}

.learning h2 {
  margin-bottom: 1rem;
}

.added {
  display: flex;
  flex-wrap: wrap;
}

.learn {
  background-color: white;
  width: 30%;
  margin: 1rem;
}

.learn-text h3 a{
  color: #383838;
}

.learn img {
  max-width: 100%;
  height:auto;
  display: block;
}

.courses {
  margin: 0.5rem 0;
}

.learn-text {
  margin: 1rem 0 1.5rem 1rem;
}

@media only screen and (max-width: 480px) {
  .learning {
    padding:2rem 0.5rem 1.5rem 0.5rem;
    background-color: white;
  }
  .learn img {
    display: none;
  }
  .courses {
    display: none;
  }
  .learn-text h5 {
    display: none;
  }
  .learn-text h3 {
  }
  .learn {
    width: 100%;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: #C4C4C4;
  }
  .learning h2 {
    margin-bottom: 0.5rem;
  }
}

/* Thesis Exhibit */

.thesis {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.both-boxes {
  display: flex;
}
.both-boxes img {
  display: block;
  height: auto;
  width: 35%;
}
.left-video-box {
  flex: 3;
}
.left-video-box video {
  width: 100%;
}
.two-right-boxes {
  flex: 2;
}
.two-right-boxes img{
  height: auto;
  width: 35%;
  float: left;
}
.top-right-box,
.bottom-right-box {
  clear: both;
}
